name: "Merge Release Branch to Develop Branch "
on:
  push:
    branches:
      - release
  pull_request:
    branches:
      - release 
   types:
      - closed
jobs:
  merge:
    name: Merge Release to Develop
    runs-on: ubuntu-latest
    if: (github.event_name == 'push') || (github.event_name == 'pull_request' && github.event.pull_request.merged == true)
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Merge Release to Develop
        run: |
          git fetch origin develop
          git checkout develop
          git merge origin/release
          git push origin develop
