name: "Merge Release Branch to Develop Branch "
on:
  pull_request:
  #   branches:
  #     - release  # branchesで指定するのはマージ元ブランチ名
    branches-ignore:
      - "develop"  # ドキュメントに記載がないものの、マージ先ブランチ名に効いている?
    types:
      - closed
jobs:
  merge:
    name: Merge Release to Develop
    runs-on: ubuntu-latest
    if: |
      (
        github.event_name == 'pull_request' 
        && github.event.pull_request.merged == true 
        && github.event.pull_request.base.ref == 'release' 
      )
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with: 
          # マージ操作のために全ての履歴が必要
          fetch-depth: 0
      - name: Merge Release to Develop
        run: |
          # ワークフロー内でgit操作するためにuser.name,user.emailの設定が必要。
          # GitHub Actions用のアイコンになるよう設定する
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"

          git fetch origin develop
          git checkout develop
          git merge --no-ff origin/release
          git push origin develop
      - name: Add comment to merged PR
        uses: actions/github-script@v6
        with:
          script: |
            const prNumber = context.issue.number;
            const repo = context.repo;
            const prAuthor = context.payload.pull_request.user.login;
            const commentBody = `@${prAuthor}\nこのPRはdevelopにもマージされました。`;

            await github.rest.issues.createComment({
              ...repo,
              issue_number: prNumber,
              body: commentBody,
            });
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Post to a Slack channel
        id: slack
        uses: slackapi/slack-github-action@v1.23.0
        with:
          # Slack channel id, channel name, or user id to post message.
          # See also: https://api.slack.com/methods/chat.postMessage#channels
          # You can pass in multiple channels to post to by providing a comma-delimited list of channel IDs.
          channel-id: ${{ vars.SLACK_CHANNEL }}
          # For posting a simple plain text message
          # slack-message: "GitHub actions result: ${{ job.status }}\n${{ github.event.pull_request.html_url || github.event.head_commit.url }}"
          payload: |
            {
              "text": "GitHub Action result: ${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}",
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "[GitHub Action build result](${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}})"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "test block."
                  }
                }
              ]
            }
        env:
          SLACK_CHANNEL: ${{ vars.SLACK_CHANNEL }}
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
