name: "Merge Release Branch to Develop Branch "
on:
  # push:
  #   branches:
  #     - release
  pull_request_target:
    branches:
      - release 
    types:
      - closed
jobs:
  merge:
    name: Merge Release to Develop
    runs-on: ubuntu-latest
    if: |
      (
        github.event_name == 'pull_request' 
        && github.event.pull_request.merged == true 
        && github.event.pull_request.head.ref != 'develop'
      )
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with: 
          fetch-depth: 0
      - name: Merge Release to Develop
        run: |
          # ワークフロー内でgit操作するためにuser.name,user.emailの設定が必要。
          # GitHub Actions用のアイコンになるよう設定する
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git config user.name "github-actions[bot]"

          git fetch origin develop
          git checkout develop
          git merge origin/release
          git push origin develop
      - name: Add comment to merged PR
        uses: actions/github-script@v6
        with:
          script: |
            const prNumber = context.issue.number;
            const repo = context.repo;
            const prAuthor = context.payload.pull_request.user.login;
            const commentBody = `@${prAuthor}\nこのPRはdevelopにもマージされました。`;

            await github.rest.issues.createComment({
              ...repo,
              issue_number: prNumber,
              body: commentBody,
            });
          token: ${{ secrets.GITHUB_TOKEN }}
