name: "Merge Release Branch to Develop Branch "
on:
  pull_request:
    types:
      - closed
jobs:
  merge:
    name: Merge Release to Develop
    runs-on: ubuntu-latest
    if: |
      (
        github.event_name == 'pull_request' 
        && github.event.pull_request.merged == true 
        && github.event.pull_request.base.ref == 'release'
        && github.event.pull_request.head.ref != 'develop'
      )
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with: 
          # マージ操作のために全ての履歴が必要
          fetch-depth: 0
      # - name: Generate GitHub Apps token
      #   id: generate
      #   uses: tibdex/github-app-token@b62528385c34dbc9f38e5f4225ac829252d1ea92 #v1.8.0
      #   with:
      #     app_id: ${{ secrets.APP_ID }}
      #     private_key: ${{ secrets.APP_PRIVATE_KEY }}
      - name: Merge Release to Develop
        # env:
        #   GITHUB_TOKEN: ${{ steps.generate.outputs.token }}
        run: |
          PR_URL=$(gh pr create --title "release -> developにマージ" --body "" --base develop --head release)
          PR_NUMBER=${PR_URL##*/}

          # プルリクエストをマージします
          gh pr merge $PR_NUMBER --merge --admin

      - name: Add success comment to merged PR
        if: ${{ success() }}
        uses: actions/github-script@v6
        with:
          script: |
            const prNumber = context.issue.number;
            const repo = context.repo;
            const prAuthor = context.payload.pull_request.user.login;
            const commentBody = `@${prAuthor}\nこのPRはdevelopにもマージされました。`;

            await github.rest.issues.createComment({
              ...repo,
              issue_number: prNumber,
              body: commentBody,
            });

      - name: Post to a Slack channel
        id: slack
        if: ${{ failure() }}
        uses: slackapi/slack-github-action@v1.23.0
        with:
          channel-id: ${{ vars.SLACK_CHANNEL }}
          payload: |
            {
              "blocks": [
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "以下のPRのdevelopブランチへのマージが失敗しました。\nジョブの結果画面の確認、手動でのマージ作業をお願いします。"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "<${{ github.event.pull_request.html_url }}|#${{ github.event.pull_request.number }}: ${{ github.event.pull_request.title }}>"
                  }
                },
                {
                  "type": "section",
                  "text": {
                    "type": "mrkdwn",
                    "text": "<${{github.server_url}}/${{github.repository}}/actions/runs/${{github.run_id}}|GitHub Actions ジョブ結果>"
                  }
                }
              ]
            }
        env:
          SLACK_CHANNEL: ${{ vars.SLACK_CHANNEL }}
          SLACK_BOT_TOKEN: ${{ secrets.SLACK_BOT_TOKEN }}
