name: deploy-dev
on:
  workflow_dispatch:
    inputs:
      deploy_branch:
        description: 'デプロイ対象ブランチ'
        required: true
        default: 'develop'
        options:
          develop:
          release:
jobs:
  git-pr-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0 # git-pr-release needs the git histories
      - uses: actions/setup-ruby@v1
        with:
          ruby-version: 3.1
      - run: gem install --no-document git-pr-release
      - run: git-pr-release --squashed
        env:
          GIT_PR_RELEASE_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_PR_RELEASE_BRANCH_PRODUCTION: deployment/develop
          GIT_PR_RELEASE_BRANCH_STAGING: ${{ github.event.inputs.deploy_branch }}
          GIT_PR_RELEASE_LABELS: pr-release
          GIT_PR_RELEASE_TEMPLATE: .github/git-pr-release-dev.erb
          TZ: Asia/Tokyo
